# Logs
logs
*.log
npm-debug.log*

# Secrets
.env
env
env-docker

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Compiled output
build
dist
!tracker/dist
reports/**/*

# Gitkeep
!.gitkeep
