doctype html
html
  head
    title Pixel Tracker Dashboard
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1.0'
    )
    each stylesheet in stylesheets
      link(rel='stylesheet', type='text/css', href=stylesheet)

  body
    #app

  each script in scripts
      script(src=script)
