doctype html
html
  head
    title Logged In
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1.0'
    )

  body
    h1 You're logged in!

  script(src='https://unpkg.com/axios/dist/axios.min.js')
  script.
    const urlParams = new URLSearchParams(window.location.search);
    const code = urlParams.get('code');

    axios.get(`/api/v2/tokens/?code=${code}`).then(data => {
      console.log(data);
    });
