.fade-enter-active, .fade-leave-active {
  transition: opacity .75s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.has-bg {
  background-color: #f9f9f9;
}

.has-blur {
  backdrop-filter: blur(5px);
}

.is-sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
